[user]
	name = Tomas Koranda
	
	# Avoid git guesssing defaults for user.email and user.name, 
	# only retrieves the values from the configuration.
	# Ideal for having multiple emails, and using different one for different repositories.
	useConfigOnly = true 

	# Setting `useConfigOnly = true` essentially:
	# 1. Forbids global credentials (name, email)
	# 2. Hence, enforcing setting local configs
	# To avoid setting local config for each repository, we will use conditional imports of local configs (see below).
	# To check config scope try `git config --list --show-scope`

[color]
	ui = auto
	branch = auto
	diff = auto
	status = auto

[core]
	# Set the default text editor (for commit messages, rebasing, etc.)
	editor = code --wait
	# editor = vim

	# Detect and fix some whitespace issues, namely
	# `blank-at-eol` highlights orphan whitespaces at the line endings
	# `blank-at-eof` highlights blank lines inserted at the end of a file
	# `space-before-tab` highlights a space character that appears before a tab character when indenting a line
	whitespace = blank-at-eol, blank-at-eof, space-before-tab

	# Point to global .gitignore file (applies to all repositories).
	excludesfile = ~/.gitignore_global
	
	# Point to a text file which gives attributes to pathnames (...).
	# attributesfile = ~/.gitattributes
	
[include]
	path = ~/.gitaliases

[init]
	defaultBranch = master

################################################################################
# [commit]
	# Set default initial message commiting
	# template = ~/.gitmessage

[pull]
	# Do not create an extra merge commit when merging a commit that is a descendant of the current commit. 
	# Instead, the tip of the current branch is fast-forwarded
	ff = only
	# rebase = false

[merge]
	ff = only

################################################################################
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
# [difftool "sourcetree"]
# 	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
# 	path = ...
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
################################################################################
# TODO:
# [filter "lfs"]
# 	clean = git-lfs clean -- %f
# 	smudge = git-lfs smudge -- %f
# 	process = git-lfs filter-process
# 	required = true
################################################################################
# Conditional imports of local configs depending on path (different emails for different repositories)

# University mail
[includeIf "gitdir:~/Dev/CVUT/*SEMESTER*/"]
	path = ~/.gitconfig_cvut
[includeIf "gitdir:~/Dev/CVUT/Teaching/"]
	path = ~/.gitconfig_cvut

# Personal mail
[includeIf "gitdir:~/Dev/Personal/"]
	path = ~/.gitconfig_personal
[includeIf "gitdir:~/dotfiles/"]
	path = ~/.gitconfig_personal

# Work/Other mail
[includeIf "gitdir:~/Dev/Work/"]
	path = ~/.gitconfig_work
